:root {
    --primary-color: #463464;
    --secondary-color: #ce6b8a;
    --third-color: #eebbc4;
    --fourth-color: #efd9e3;
    --fifth-color: #dcd5f3e3;
    --background-color: #463464;
  }
  
.countdown {
    font-size: 1.5em;
    font-weight: bolder;
}
.countdown .block {
    margin: 0em;
    border-radius: 5px;
    padding: 0.5em;
    width: 70px;
}
.time {
    font-size: 0.5em;
    font-weight: normal;
    text-transform: uppercase;
}